.contact h5 {
  margin-top: 2rem;
  color: var(--headers-color);
  font-family: 'Poppins', sans-serif;
}

.contact__links {
  display: flex;
  align-items: center;
}

.contact__links img {
  width: 60px;
  height: 60px;
}

.contact__links .email,
.contact__links .location {
  margin: 3rem;
}

@media only screen and (max-width: 768px) {
  .contact h5,
  .contact h4 {
    text-align: center;
  }
  .contact__links {
    justify-content: center;
  }
  .contact__links img {
    width: 40px;
    height: 40px;
  }
}
